.Counter {
  /*Layout*/
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  /*Color*/
  color: white;
  /*Font*/
  font-size: 3rem;
  /*Etc..*/
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.75s;
}
